body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecera {
  font-size: 4rem;
  margin: 0;
}

.titulo {
  font-size: 1, 7rem;
}
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  text-align: center;
  margin: 20px;
}

.img {
  margin-top: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.jugador,
.maquina {
  margin: 50px;
}

.clase-animacion {
  animation-name: animacion;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.img img {
  z-index: -1;
}

@keyframes animacion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
